@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100&display=swap');

:root{
  --color-primary: #4DC1C0;
}

*{
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

html, body{
  background-color: #5E5E5E;
}

a, a:hover{
  text-decoration: none;
  color: unset;
}
