.dsmovie-form-container{
    max-width:  480px;
    margin: 40px auto;
    padding:  20px;
}

.dsmovie-form{
    width: calc(100% - 20px);
}

.dsmovie-form-group{
    margin-top: 20px;
}

.dsmovie-form-group label{
     font-size: 12px;
     color: #aaa;
}

.dsmovie-from-btn-container{
    display: flex;
    justify-content: center;
}

.dsmovie-movie-card-image{
    border: 1px color #000;
    height: 200px;
    width: 300px;
    margin: auto;
    border-radius: 5%;
   
}

.dsmovie-btn2{
    padding: 0px 2px;
    margin: auto;
    position: relative;
    display: flex;
}